<div>
  <h1><%= user.name %></h1>
  <h3><%= user.title %></h3>
  <hr>
  <h3>Contact: <%= user.email %></h3>
  <a href="/user/edit/<%= user.id %>">Edit</a>
  <a href="/user/new">Create New</a>
  <a href="/user">Show all users</a>
</div>
